.card-content {
  height: 180px;
}

.post-option {
  height: 10%;
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.col.m4.margin-clear.margin-clear {
  margin-left: 0px;
}

.card-text {
  overflow: hidden;
}

.pagination {
  text-align: center;
}