@import "reset";
@import "materialize";
@import "material_icons";
@import "posts";
@import "post-index";
@import "post-show";
@import "notification";

body {
  height: 100vh;
  background-color: #e0e0e0 ;
}

.textcenter {
  text-align: center;
}

.username {
  font-size: 20px;
}

.pagination li.active a {
  color: #fff;
}

.btn {
  position: relative;
  .button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}